
.split-container {
    display: flex;
    align-items: center; 
    /* justify-content: space-between; */
    /* margin: 0 auto; */
  }
  
  .left-column {
    /* flex: 1; */
    position: relative;
  }

  .nameMargin {
    width: 100%;
  }
  
  .right-column {
    flex: 1; 
    position: relative;
  }

  .paragraph {
    max-width: 1000px;
    padding: 20px; 
    margin: 0 auto;
    box-sizing: border-box;
  }

  .image-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    max-width: 1500px; 
    margin: 0 auto;
    margin-bottom: 20px
  }

  .profile {
    

    width:50%;
    height: auto;
    
  }

  .image {
    width: 25%; 
    height: auto;
    position: relative;
    box-sizing: border-box;
  }

  .margin {
    display: flex;
    margin: 80px;
  }
