
.split-container {
    display: flex;
    align-items: center; 
    /* justify-content: space-between;  */
     margin: 0 auto;
  }
  
  .left-column {
    /* flex: 1; */
    position: relative;
    min-width: 210px;
  }
 
  
  .right-column {
    /* flex: 1;  */
    position: relative;
  }

  .paragraph {
    max-width: 1200px;
    padding: 20px; 
    margin: 0 auto;
    box-sizing: border-box;
  }

  .image-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    max-width: 2500px; 
    margin-bottom: 20px;
  }

  .profile {
    width: 300px;
    border-radius: 50%;
  }

  .name_margin {
    margin-left: 100px;
    margin-right: 100px;
  }

  .image {
    width: 25%; 
    height: auto;
    position: relative;
  }

  .margin {
    display: flex;
    margin: 60px;
  }

